Flask
pandas
selenium
webdriver-manager
beautifulsoup4
Flask-Cors
beautifulsoup4
python-dotenv
requests
flask-pymongo 
flask-cors 
pyjwt 
werkzeug
selenium==4.6.0
requests==2.28.1
webdriver_manager==3.8.4
packaging==21.3
flask-restful==0.3.9
gunicorn==20.1.0
